@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@700&display=swap");

:root {
  --primary: #87c5df;
  --secondary: rgb(20, 193, 199);
  --tertiary: rgb(119, 160, 221);
  --quaternary: rgb(38, 103, 202);
  --text: #2b2a35;
  --discord: #5275ff;
  --background: #fffcf0;
  background-color: var(--background);
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
span,
a {
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-family: "Rubik Mono One", sans-serif;
  margin-bottom: 0.3em;
}

.mb-0 {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-family: "Rubik Mono One", sans-serif;
  margin-bottom: 0.3em;
  word-spacing: -0.4em;
}

p,
a {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 10px;
}

@media screen and (max-width: 700px) {
  h1,
  h2,
  h3,
  h4 {
    word-spacing: -0.6em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.3em;
  }

  .underline {
    text-decoration-thickness: 5px;
  }
}

@media screen and (max-width: 500px) {
  h1,
  h2,
  h3,
  h4 {
    word-spacing: -0.6em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }

  .underline {
    text-decoration-thickness: 5px;
  }
}
