---
import "../styles/main.css";
import Header from "../components/header.astro";
import Landing from "../sections/landing.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <Landing />
  </body>
</html>

<style>
  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        to top right,
        var(--primary) 30%,
        var(--secondary) 50%,
        var(--tertiary) 70%
      )
      no-repeat;
  }

  @media screen and (max-width: 700px) {
    body {
      background: linear-gradient(
          to top right,
          var(--primary) 10%,
          var(--secondary) 30%,
          var(--tertiary) 70%
        )
        no-repeat;
    }
  }
</style>
