---
import "../styles/main.css";
import Landing from "../sections/landing.astro";
import AboutUs from "../components/about-us.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Commerce</title>
    <meta
      name="description"
      content="Commerce is the new standard for aftermarkets that prioritizes community interaction. With an immersive chat experience and decentralized payment protection, consumers can transact in real time with people that love the same things they do."
    />
  </head>
  <body>
    <Landing />
    <AboutUs />
  </body>
</html>

<style>
  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to top right,
        var(--tertiary) 30%,
        var(--quaternary) 70%
      )
      no-repeat;
  }

  @media screen and (max-width: 700px) {
    body {
      background: linear-gradient(
          to top right,
          var(--tertiary) 10%,
          var(--quaternary) 70%
        )
        no-repeat;
    }
  }
</style>
